<table class="table">
    <thead>
    <tr>
        <th>Created</th>
        <th>Valve</th>
        <th>Message</th>
    </tr>
    </thead>
    <tbody>
        {{#eventList}}
        <tr>
            <td><abbr title="{{this.dateCreated}}">{{this.dateCreated}}</abbr></td>
            <td>{{this.valve}}</td>
            <td>{{this.message}}</td>
        </tr>
        {{/eventList}}
    </tbody>
</table>
