<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Valve</th>
        <th align="right"><i class="fa fa-wrench"></i></th>
    </tr>
    </thead>
    <tbody>
        {{#queueList}}
        <tr>
            <td>{{this.name}}</td>
            <td align="right"><button class="button is-danger" ic-post-to="/queue/delete/{{this.id}}"><i class="fa fa-trash"></i> </button></td>
        </tr>
        {{/queueList}}
    </tbody>
</table>
