<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Name</th>
        <th><abbr title="Water Quota">Quota</abbr></th>
        <th><abbr title="Raspberry PI GPIO Output Pin">Output</abbr></th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {{#valveList}}
        <tr id="{{this.id}}">
            <td>
                <span class="control">
                    <input class="input" type="text" placeholder="Name" id="{{this.id}}_name" name="name" value="{{this.name}}">
                </span>
            </td>
            <td>
                <span class="control">
                    <input class="input" style="width:4em;" type="number" placeholder="Quota" id="{{this.id}}_quota" name="quota" value="{{this.quota}}" min="1" max="10">
                </span>
            </td>
            <td class="">{{this.output}}</td>
            <td>
                <span class="field is-grouped">
                    <button type="submit" class="button is-primary is-rounded" title="Save" onclick="updateValve({{this.id}})"><i class="fa fa-save"></i></button> &nbsp;
                    <button id="water" class="button is-info is-rounded" ic-post-to="valve/doWater/{{this.id}}"><i class="fa fa-play"></i></button>
                </span>
            </td>
        </tr>
        {{/valveList}}
    </tbody>
</table>
